<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ICO Visualizer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AlternateAppIconArmony</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconArmony</string>
				</array>
			</dict>
			<key>AlternateAppIconBase2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBase2</string>
				</array>
			</dict>
			<key>AlternateAppIconBase3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBase3</string>
				</array>
			</dict>
			<key>AlternateAppIconBase4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBase4</string>
				</array>
			</dict>
			<key>AlternateAppIconDevelop</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDevelop</string>
				</array>
			</dict>
			<key>AlternateAppIconDevelopPremium</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDevelopPremium</string>
				</array>
			</dict>
			<key>AlternateAppIconDuet</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDuet</string>
				</array>
			</dict>
			<key>AlternateAppIconSphere</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSphere</string>
				</array>
			</dict>
			<key>AlternateAppIconSport</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSport</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>Unlock sensible content</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
</dict>
</plist>
